@page 
@model QuizApp.Pages.Edit.ChangeModel
@{
}
 <a class="btn" asp-page="/Edit/AddQues"  asp-route-Id="@ViewData["id"]" >Add question</a>
<h4>Edit User</h4>
@foreach(var item in Model.Questions)
{
        <form method="post">
                     <div class="mb-3" style="display: none;">
                    <label class="form-label" asp-for="EditViewModel.Id"></label>
                        <input asp-for="EditViewModel.Id" class="form-control" value="@item.Id" readonly />
                    <span asp-validation-for="EditViewModel.Id" class="text-danger"></span>
            </div>
      
        <div class="mb-3">
                <label class="form-label" asp-for="EditViewModel.Content"></label>
                <input asp-for="EditViewModel.Content" class="form-control" value="@item.Content" />
                <span asp-validation-for="EditViewModel.Content" class="text-danger"></span>
        </div>
            <div class="mb-3">
                <label asp-for="EditViewModel.ChoiceA"></label>
                        <input asp-for="EditViewModel.ChoiceA" class="form-control" value="@item.ChoiceA" />
                <span asp-validation-for="EditViewModel.ChoiceA" class="text-danger"></span>
        </div>
             <div class="mb-3">
                <label asp-for="EditViewModel.ChoiceB"></label>
                    <input asp-for="EditViewModel.ChoiceB" class="form-control" value="@item.ChoiceB" />
                <span asp-validation-for="EditViewModel.ChoiceB" class="text-danger"></span>
        </div>
             <div class="mb-3">
                <label asp-for="EditViewModel.ChoiceC"></label>
                    <input asp-for="EditViewModel.ChoiceC" class="form-control" value="@item.ChoiceC" />
                <span asp-validation-for="EditViewModel.ChoiceC" class="text-danger"></span>
        </div>
             <div class="mb-3">
                <label asp-for="EditViewModel.ChoiceD"></label>
                    <input asp-for="EditViewModel.ChoiceD" class="form-control" value="@item.ChoiceD" />
                <span asp-validation-for="EditViewModel.ChoiceD" class="text-danger"></span>
        </div>
            

             <div class="form-group">
                <label>Correct Answer</label>
            @if (item.CorrectAnswer == 'A')
            {
                <select asp-for="EditViewModel.CorrectAnswer" class="form-control"  >
                    <option value="A" selected>A</option>
            <option value="B" >B</option>
            <option value="C" >C</option>
            <option value="D">D</option>
                </select>}
            @if (item.CorrectAnswer == 'B')
            {
                        <select asp-for="EditViewModel.CorrectAnswer" class="form-control"  >
                            <option value="A">A</option>
                    <option value="B" selected >B</option>
                    <option value="C" >C</option>
                    <option value="D">D</option>
                        </select>
            }
            @if (item.CorrectAnswer == 'C')
            {
                                <select asp-for="EditViewModel.CorrectAnswer" class="form-control"  >
                                    <option value="A">A</option>
                            <option value="B"  >B</option>
                                    <option value="C" selected >C</option>
                            <option value="D">D</option>
                                </select>
            }
            @if (item.CorrectAnswer == 'D')
            {
                                        <select asp-for="EditViewModel.CorrectAnswer" class="form-control"  >
                                            <option value="A">A</option>
                                    <option value="B"  >B</option>
                                            <option value="C"  >C</option>
                                            <option value="D" selected>D</option>
                                        </select>
            }
                    <span asp-validation-for="EditViewModel.CorrectAnswer" class="text-danger"/>
            </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

            
}
